<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/ESSCO-Finance-Icon.png' %}?v=2">
    </head>
    <body>
        <div class="login-container">
            <div class="login-header">
                <a href="{% url 'Essco_Cover' %}" >
                    <span class="lock-icon"> <img src="{% static 'images/ESSCO Finance Logo.svg' %}"
                    width="214.285" height="100" alt="Facebook" style="display:inline-block;"> </span>
                </a>
                <h2>Welcome Back</h2>
                <p>Sign in to your account</p>
            </div>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="login-btn">
                    Sign In
                </button>
            </form>

            <div class="login-footer">
                Don't have an account? <a href="{% url 'register' %}">Sign up/Forget Password</a>
            </div>
        </div>
    </body>
</html>
